@model Bookish.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Account Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Account page</title>
	<meta charset="utf-8" />
</head>
<body>
<p> Howdy! </p>
<p> @Model.Email </p>
<p> @Model.Password </p>
<p> See ya! </p>
</body>
</html>
