@using Microsoft.AspNet.Identity

@model Bookish.Web.Models.UsersBooksModel
@{
    ViewBag.Title = "Account Page";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Account page</title>
        <meta charset="utf-8" />
        
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 10px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h2> @Model.Email </h2>
        <h4> My books: </h4>
    
        <table style= "width: 100%">
            <tr><th>Title</th><th>Due at</th></tr>
            @{
                foreach (var book in Model.Data)
                {
                    @:<tr>
                    <td>@book.Title</td>
                    <td>@book.Due</td>
                    @:</tr>
                }
            }
        </table>
    
        <div>
            @Html.ActionLink("Manage account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
    </body>
</html>
